html,
body {
	height: 100%;
}

#exampleCard,
#successCard {
	min-height: 350px;
}

#tokenMessage {
	overflow-wrap: anywhere;
	max-width: 100%;
}

#setAliasContainer {
	display: none;
	text-align: center;
	margin-bottom: 4px;
}